<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<log4net>
		<!-- File Appender for General Logs -->
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/StoreCraft.log" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd&quot;.log&quot;" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<!-- File Appender specifically for Product Operations -->
		<appender name="ProductFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/ProductOperations.log" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd&quot;.log&quot;" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="5MB" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<!-- Database Appender for Product Logs -->
		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="1" />
			<connectionType value="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient" />
			<connectionString value="Server=LAPTOP-S2EFS1EF\SQLEXPRESS;Database=StoreCraft_DB;Trusted_Connection=true" />
			<commandText value="INSERT INTO ProductLogs ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />

			<parameter>
				<parameterName value="@log_date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>

			<parameter>
				<parameterName value="@thread" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread" />
				</layout>
			</parameter>

			<parameter>
				<parameterName value="@log_level" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>

			<parameter>
				<parameterName value="@logger" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>

			<parameter>
				<parameterName value="@message" />
				<dbType value="String" />
				<size value="4000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>

			<parameter>
				<parameterName value="@exception" />
				<dbType value="String" />
				<size value="2000" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
		</appender>

		<!-- Console Appender for Development -->
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<!-- Root logger to catch ALL logs -->
		<root>
			<level value="INFO" />
			<appender-ref ref="FileAppender" />
			<appender-ref ref="ProductFileAppender" />
			<appender-ref ref="AdoNetAppender" />
			<appender-ref ref="ConsoleAppender" />
		</root>

		<!-- Optional: Specific namespace for all Controllers -->
		<logger name="StoreCraft_API.Controllers" additivity="true">
			<level value="INFO" />
			<appender-ref ref="ProductFileAppender" />
			<appender-ref ref="AdoNetAppender" />
			<appender-ref ref="ConsoleAppender" />
		</logger>
	</log4net>
</configuration>
